# Bootstrap
app/bootstrap*

# Symfony directories
vendor/*
*/logs/*
*/cache/*
web/uploads/*
web/bundles/*

# Configuration files
app/config/parameters.ini
app/config/parameters.yml
/node_modules/
/web/css/
/web/js/

# MacOS
*/.DS_Store
.DS_Store
