{% extends 'MopaBootstrapBundle::base.html.twig' %}

{% block title %}LaughingBear{% endblock %}

{% block head_style %}
    {{ parent() }}
    {% stylesheets
        '@RRavenLaughingbearBundle/Resources/public/darkstrap/darkstrap.css'
        '@RRavenLaughingbearBundle/Resources/public/css/bootstrap-multi-menu.css'
        'bundles/bmatznerfontawesome/css/font-awesome.css'
        filter="?yui_css"
    %}
    <link href="{{ asset_url }}" type="text/css" rel="stylesheet" media="screen" />
    {% endstylesheets %}
{% endblock %}

{% block foot_script %}
    {{ parent() }}

    {% javascripts
        '@RRavenLaughingbearBundle/Resources/public/js/jquery.1.7.1.min.js'
        filter="?yui_js"
    %}
        <script type="text/javascript" src="{{ asset_url }}" defer="defer"></script>
    {% endjavascripts %}
{% endblock %}

{% block navbar %}{% render url('esi_menus_top', { }) with {}, {'standalone': true} %}{% endblock navbar %}

{% block container %}
    <br /><br /><br />
    <div class="container">
        {% block content %}
        {% endblock %}
    </div>
{% endblock %}